
<head>
    <title>PARTYSPHERE</title>
</head>

  <%= render 'shared/dropdown' %>


  <p class="normalheader"><%=@party.title%></p>
  <p class="sub-header">Tracks</p>

  <div class="tracks-container">

    <!-- LOOP OVER EACH TRACK OF PLAYLIST -->
    <%@tracks.each do |track| %>

    <!-- CREATE A CARD -->
    <div class="track-card">

      <!-- SET (DEFAULT) IMAGE -->

      <!-- PRINT INFO ON TRACK TITLE AND ARTIST -->
      <div class="track-info">
       <iframe src='https://open.spotify.com/embed/track/<%=track.spotify_id%>' width="320" height="80" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
     </div>

      <!-- END CARD -->
    </div>

    <!-- END LOOP -->
    <%end%>

  <%= render 'shared/navbar' %>

  </div>




