
// graddient colors:
$blue: #4ba6fa;
$purple: #914de9;
$pink: #c038bd;
$orange: #ea982c;

// layout colors:
$darkgray-bg: #0A0A0A;
$medgray-bg: #3E3E3E;
$light-gray: #F2F2F2;

// gradient background:
$graddient-bg: linear-gradient(to right top, #ffa500, #ff8436, #ff625d, #ff4883, #f942a9, #e053c3, #be63d8, #9571e6,
 #7781ec, #5c8eed, #4798e8, #40a0e0);

// basic colors:
$red: #ed2121;
$yellow: #eded21;
$green: #3bf21f;
$black: #000000;
$gray: #828282;
$white: #ffffff;
