
// graddient colors:
$blue: #4ba6fa;
$purple: #914de9;
$pink: #c038bd;
$orange: #ea982c;

// layout colors:
$darkgray-bg: #0A0A0A;
$medgray-bg: #3E3E3E;
$light-gray: #F2F2F2;
$background-dark: #121212;
// $text-gray: #5C5C5C;
// $container-gray: rgba(127,127,127,1.0);

// gradient background:
$graddient-bg: linear-gradient(to right, #ffa500, #ff4883, #da53e0, #40a0e0);

// basic colors:
$red: #ed2121;
$yellow: #eded21;
$green: #3bf21f;
$black: #000000;
$gray: #828282;
$white: #ffffff;


body {
  color: white !important;
}
