// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #167FFB;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;

// graddient colors:
$blue: #4ba6fa;
$purple: #914de9;
$pink: #c038bd;
$orange: #ea982c;

// layout colors:
$darkgray-bg: #0A0A0A;
$medgray-bg: #3E3E3E;
$light-gray: #F2F2F2;

