
<div class="navbar1" style="position: sticky !important; bottom: 0;">
<table class="navbarbot">
  <tr>
    <!-- DASHBOARD -->
    <td class="column">
    <%=link_to party_path(@party), class: "iconlink anchor-link" do%>
      <i class="fas fa-chart-pie" id="pie"></i>
        <div class="iconlink">
          Dashboard
        </div>
      <% end %>
    </td>

 <!-- MODIFICATIONS -->
 <td class="column">
  <%=link_to edit_party_playlist_path(@party, @playlist), class: "iconlink1 anchor-link" do%>
  <i class="fas fa-hat-wizard" id="wizzard"></i>
  <div class="iconlink1">
    Modify
  </div>
<% end%>
</td>

<!-- TRACKS -->
<td class="column">
  <%=link_to party_playlist_tracks_path(@party, @playlist), class: "iconlink2 anchor-link" do%>
  <i class="fas fa-list-ul" id="tracks"></i>
  <div class="iconlink2">
    Tracks
  </div>
<%end%>
</td>

<!-- GUESTLIST -->
<td class="column">
  <%=link_to party_users_path(@party), class: "iconlink3 anchor-link" do %>
  <i class="fas fa-users" id="guests"></i>
  <div class="iconlink3">
    Guests
  </div>
<%end%>
</td>
</tr>
</table>
</div>
