<table class="navbarbot">
    <tr>
        <td class="column">
          <a href="/parties/id">
            <i class="fas fa-chart-pie"></i>
            <div class="iconlink">Dashboard</div>
          </a>
        </td>
      <td class="column">
        <a href="/parties/:party_id/playlists/:id/edit">
          <i class="fas fa-hat-wizard"></i>
          <div class="iconlink">Modify</div>
        </a>
      </td>
      <td class="column">
        <a href="/parties/:party_id/playlists/:id">
          <i class="fas fa-list-ul"></i>
          <div class="iconlink">Tracks</div>
        </a>
      </td>
      <td class="column">
        <a href="/parties/:party_id/guests">
          <i class="fas fa-users"></i>
          <div class="iconlink">Guests</div>
        </a>
      </td>
    </tr>
  </table>
