<head>
  <style>
.ctabuttonsmall {
     background-color: rgba(255,255,255,0.0);
     top: 422px;
     height: 63px;
     width: 205px;
     position: absolute;
     margin: 0;
     left: 85px;
     transform: rotate(0);
  }

.ctabuttonsmall .group {
     background-color: rgba(255,255,255,0.0);
     top: 0;
     height: 63px;
     width: 205px;
     position: relative;
     margin: 0;
     left: 0;
     transform: rotate(0);
  }

.ctabuttonsmall .group .rectangle {
     background-color: rgba(255,255,255,0.0);
     top: 0;
     height: 63px;
     width: 205px;
     position: absolute;
     margin: 0;
     left: 0;
     border-radius: 31px;
     transform: rotate(0);
  }

.ctabuttonsmall .group .login {
     background-color: rgba(255,255,255,0.0);
     top: 18px;
     height: auto;
     width: 172px;
     position: absolute;
     margin: 0;
     left: 18px;
     transform: rotate(0);
     font-family: 'LucidaGrande-Bold',Helvetica,Arial,serif;
     font-size: 24.0px;
     color: rgba(242,242,242,1.0);
     text-align: center;
     line-height: 28.0px;
  }
  </style>
</head>
<body>
<div class="ctabuttonsmall">
    <div class="group">
        <img class="rectangle" src="https://anima-uploads.s3.amazonaws.com/projects/5d63ed2528f56860944f20b0/releases/5d63ed3328f56860944f20b1/img/log-in-rectangle@2x.png" anima-src="https://anima-uploads.s3.amazonaws.com/projects/5d63ed2528f56860944f20b0/releases/5d63ed3328f56860944f20b1/img/log-in-rectangle@2x.png">
            <div class="login">Set the vibe</div>
    </div>
</div>
</body>
