<body>
  <img class="logo" src="https://res.cloudinary.com/djbsezqc3/image/upload/v1567001494/landing-page-nounhexagon220644_2x_r7q4w7.png" anima-src="https://res.cloudinary.com/djbsezqc3/image/upload/v1567001494/landing-page-nounhexagon220644_2x_r7q4w7.png">
</body>


