  <div class="mainbodywithnav">
<!-- White and transparent button -->
    <div class="whitetrans">
      <a href="/profile">Log in with Spotify</a>
    </div>

    <div class="d-flex spotify">
      <i class="fab fa-spotify"></i>
    </div>

    <div class="smallwhitetrans">
      <div class="buttext">
        <a href="/">Next</a>
      </div>
    </div>

<!-- Formdisplay -->
      <form>
        <div class="d-flex fill">
          <div>
            <label class="tag">Email</label><br>
            <input class="field" type="email" name="Email">
          </div>
        </div>
      </form>

  <!-- transparent button with rainbow border -->
    <div class="smallcolorbutton">
      <a href="/parties/new">
        <div class="whitebackground">
          <a href="/parties/new">Create a party</a>
        </div>
      </a>
    </div>
  </div>

  <%= render 'shared/navbar' %>
