
    <div class="btn-bigcolor">
      <a class="bigcolorbutton" href="/parties/new">Set the vibe</a>
    </div>

    <div class="smallcolorbutton">
      <a href="/parties/new">
        <div class="whitebackground">
      <a href="/parties/new">Old But Gold</a>
    </div>
        </a>
    </div>

    <div>
      <form>
        <label class="tag">Email</label><br>
        <input class="field" type="email" name="Email">
      </form>
    </div>
  </div>



  <table class="navbarbot">
    <tr>
      <td class="column">
        <a href="/profile">
        <%= image_tag("icons/pie.png", class: "piechart") %></a>
        <a class="text" href="/profile">Dashboard</a>
      </td>
      <td class="column">
        <a href="/modify">
            <%= image_tag("icons/magic.png", class: "magic") %></a>
        <a class="text" href="/modify">Modify</a>
      </td>
      <td class="column">
        <a href="/tracks">
        <%= image_tag("icons/settings.png", class: "tracks") %></a>
        <a class="text" href="/tracks">Tracks</a>
      </td>
      <td class="column">
        <a href="/guests">
        <%= image_tag("icons/guests.png", class: "guests") %></a>
        <a class="text" href="/guests">Guests</a>
      </td>
    </tr>
  </table>
