  <div class="mainbodywithnav">
<!-- White and transparent button -->
    <div class="whitetrans">
      <a href="/profile">Log in with Spotify</a>
    </div>

    <div class="d-flex spotify">
      <i class="fab fa-spotify"></i>
    </div>

    <div class="smallwhitetrans">
      <div class="buttext">
        <a href="/">Next</a>
      </div>
    </div>

<!-- Formdisplay -->
      <form>
        <div class="d-flex fill">
          <div>
            <label class="tag">Email</label><br>
            <input class="field" type="email" name="Email">
          </div>
        </div>
      </form>

  <!-- transparent button with rainbow border -->
    <div class="smallcolorbutton">
      <a href="/parties/new">
        <div class="whitebackground">
          <a href="/parties/new">Create a party</a>
        </div>
      </a>
    </div>
  </div>

<!-- small analytics box -->
<div class="littlebox">
  <table class="smallanalytics">
    <tr class="smallanalytics-row">
      <td class="smallanalytics-text1">Tracks</td>
      <td class="smallanalytics-text2">Duration</td>
      <td class="smallanalytics-text3">Guests</td>
    </tr>
    <tr class="smallanalytics-row">
      <td class="smallanalytics-text1">245</td>
      <td class="smallanalytics-text2">2:50h</td>
      <td class="smallanalytics-text3">15</td>
    </tr>
</div>
    <!-- large analytics box  -->
<div class="bigbox">
 <table class="biganalytics">
  <tr class="biganalytics-row">
    <td class="biganalytics-text1">Danceability</td>
    <td class="biganalytics-text2">Energy</td>
  </tr>
  <tr class="biganalytics-row">
    <td class="biganalytics-text3">80%</td>
    <td class="biganalytics-text4">80%</td>
  </tr>
  <tr class="biganalytics-row">
    <td class="biganalytics-text5">Valence</td>
    <td class="biganalytics-text6">Popularity</td>
  </tr>
  <tr class="biganalytics-row">
    <td class="biganalytics-text7">80%</td>
    <td class="biganalytics-text8">80%</td>
  </tr>
</div>



<%= render 'shared/navbar' %>
