  <div class="mainbodywithnav">

    <!-- White and transparent button -->
    <div class="whitetrans">
      <a href="/profile">Log in with Spotify</a>
    </div>

    <div class="d-flex spotify">
      <i class="fab fa-spotify"></i>
    </div>

    <div class="smallwhitetrans">
      <div class="buttext">
        <a href="/">Next</a>
      </div>
    </div>

    <!-- Formdisplay -->
    <form>
      <div class="d-flex fill">
        <div>
          <label class="tag">Email</label><br>
          <input class="field" type="email" name="Email">
        </div>
      </div>
    </form>

    <!-- transparent button with rainbow border -->
    <div class="smallcolorbutton">
      <a href="/parties/new">
        <div class="whitebackground">
          <a href="/parties/new">Create a party</a>
        </div>
      </a>
    </div>

    <!-- 3 dots  -->
    <div class="dropdown">
      <button class="dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
       •••
     </button>
     <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
      <a class="dropdown-item" href="/profile" link_to>Profile</a>
      <a class="dropdown-item" href="#">Logout</a>
    </div>
  </div>
  <br>
  <br>
  <br>
  <br>

  <!--   user avatar  -->
  <div class="avatar-user">
    <img class="profile"src="https://res.cloudinary.com/djbsezqc3/image/upload/v1567156065/Screenshot_2019-08-30_at_11.07.23_mr2m7u.png">
  </div>
  <p class="header">DanTheMan</p>

  <!--   guest avatar  -->
  <div class="avatar-guest">
    <img class="avatar-medium" src="https://res.cloudinary.com/djbsezqc3/image/upload/v1567155471/Screenshot_2019-08-30_at_10.57.39_ktyyy0.png">
    <p class="guest-name">Anna</p>
  </div>

  <!-- header -->
  <p class="header">Header</p>

  <!-- sub-header -->
  <p class="sub-header">Sub-Header</p>

  <!--   logo  -->
  <div class="logo">
    <img class="logo-pic" src="https://res.cloudinary.com/djbsezqc3/image/upload/v1567081045/logo_xmeuto.png">
  </div>

  <!-- small analytics box -->
  <div class="littlebox">
    <table class="smallanalytics">
      <tr class="smallanalytics-row">
        <td class="smallanalytics-text1">Tracks</td>
        <td class="smallanalytics-text2">Duration</td>
        <td class="smallanalytics-text3">Guests</td>
      </tr>
      <tr class="smallanalytics-row">
        <td class="smallanalytics-text1">245</td>
        <td class="smallanalytics-text2">2:50h</td>
        <td class="smallanalytics-text3">15</td>
      </tr>
    </div>

  <!-- party card -->
  <div class="party-card">
    <img class="party-image" src="https://res.cloudinary.com/djbsezqc3/image/upload/v1567152441/default_image_pi1c33.jpg">
    <div class="party-info">
      <p class="party-text">Birthday Bash 2017</p>
    </div>
  </div>

  <!-- track card -->
  <div class="track-card">
    <img class="track-image" src="https://res.cloudinary.com/djbsezqc3/image/upload/v1567154834/satinjackets_npunos.png">
    <div class="track-info">
      <h3 class="track-title">Night Keys</h3>
      <p class="track-artist">Satin Jackets</p>
    </div>
  </div>

    <!-- large analytics box  -->
    <div class="bigbox">
     <table class="biganalytics">
      <tr class="biganalytics-row">
        <td class="biganalytics-text1">Danceability</td>
        <td class="biganalytics-text2">Energy</td>
      </tr>
      <tr class="biganalytics-row">
        <td class="biganalytics-text3">80%</td>
        <td class="biganalytics-text4">80%</td>
      </tr>
      <tr class="biganalytics-row">
        <td class="biganalytics-text5">Valence</td>
        <td class="biganalytics-text6">Popularity</td>
      </tr>
      <tr class="biganalytics-row">
        <td class="biganalytics-text7">80%</td>
        <td class="biganalytics-text8">80%</td>
      </tr>
    </div>




