<div>
    <a class="bigcolorbutton" href="/parties/new">Set the vibe</a>
  </div>
  <div class="group">
    <a class="smallcolorbutton" href="">
      <a class="whitebackground" href="/parties/new">
        <a class="text" href="/parties/new">Old But Gold</a>
      </a>
    </a>
  </div>

<body>
  <div class="email">E-Mail</div>
  <div class="formfield">
     <div class="rectangle">
     </div>
  </div>
</body>


