<!-- <div class="bg-image"></div> -->
<div class="mainbodynonav">

  <div class="writing">Set the vibe for your party.</div>

  <div class="whitetrans">
    <a href= "/profile">Log in with Spotify</a>
  </div>
  <div class="d-flex spotify">
      <i class="fab fa-spotify"></i>
  </div>
</div>


