<html>
  <head>
    <title>PARTYSPHERE - Set the vibe for your party</title>
  </head>
  <body>
<!-- real page  -->
<div class="mainbodynonavimg">
<div class="logo">
      <img class="logo-pic" src="https://res.cloudinary.com/djbsezqc3/image/upload/v1567081045/logo_xmeuto.png">
    </div>
    <div class="writing">Pimp your playlist!</div>
    <div class="twodots">
      <i id="dot2" class="fas fa-circle"></i>
      <i id="dot1" class="fas fa-circle"></i>
    </div>
    <div class="whitetrans">
      <a href= "/users/auth/spotify">Log in with Spotify</a>
    </div>
    <div class="d-flex spotify">
      <i class="fab fa-spotify"></i>
    </div>
  </body>
</html>
