// small analytics 3 boxes
.littlebox{
  margin-left: auto;
  margin-right: auto;
  padding: 0px;
}
.smallanalytics {
  // border-collapse: collapse;
  width: 336px;
  height: 64px;
  margin-left: auto;
  margin-right: auto;
}
.smallanalytics-row {
  text-align: center;
  border: none;
}

.smallanalytics-text1 {
  text-align: center;
  border-right: solid 1px #FFFFFF;
  color: #FFFFFF;
}
.smallanalytics-text2 {
  text-align: center;
  border-right: solid 1px #FFFFFF;
  border-left: solid 1px #FFFFFF;
  color: #FFFFFF;
}.smallanalytics-text3 {
  text-align: center;
  border-left: solid 1px #FFFFFF;
  color: #FFFFFF;
}

//large analytics box 4x4
.bigbox{
  margin-left: auto;
  margin-right: auto;
  padding-top: 60px;
}
.biganalytics {
  // border-collapse: collapse;
  width: 336px;
  height: 283px;
  table-layout: fixed;
  margin-left: auto;
  margin-right: auto;
}
.biganalytics-row {
  text-align: center;
}
.biganalytics-text1 {
  max-width: 168px;
  color: #FFFFFF;
  border-right: solid 1px #FFFFFF;
}
.biganalytics-text2 {
  text-align: center;
  color: #FFFFFF;
}
.biganalytics-text3 {
  text-align: center;
  color: #FFFFFF;
  font-size: 1.9em;
  border-right: solid 1px #FFFFFF;
}
.biganalytics-text4 {
  text-align: center;
  color: #FFFFFF;
  font-size: 1.9em;
}
.biganalytics-text5 {
  text-align: center;
  color: #FFFFFF;
  border-right: solid 1px #FFFFFF;
  border-top: solid 1px #FFFFFF;
}
.biganalytics-text6 {
  text-align: center;
  color: #FFFFFF;
  border-top: solid 1px #FFFFFF;
}
.biganalytics-text7 {
  text-align: center;
  color: #FFFFFF;
  font-size: 1.9em;
  border-right: solid 1px #FFFFFF;
}
.biganalytics-text8 {
  text-align: center;
  color: #FFFFFF;
  font-size: 1.9em;
}
