.bigcolorbutton {
  text-decoration: none;
  font-size: 24.0px;
  color: rgba(242,242,242,1.0);
  text-align: center;
  font-family: $headers-font;
}

.bigcolorbutton:hover {
  text-decoration: none;
  color: rgba(242,242,242,1.0);
}

.btn-bigcolor {
  padding: 15px 25px;
  width: 250px;
  text-align: center;
  // margin: 150px 20px;
  border: 1px solid rgba(242,242,242,1.0);
  text-decoration: none;
  border-radius: 40px;
  background-image: linear-gradient(to right, #ffa500, #ff4883, #da53e0, #40a0e0);
}

.btn-bigcolor:hover {
  background-image: linear-gradient(to left, #ffa500, #ff4883, #da53e0, #40a0e0);
}

.smallcolorbutton {
  padding: 2px 2px;
  background-image: linear-gradient(to right, #ffa500, #ff4883, #da53e0, #40a0e0);
  border-radius: 40px;
  width: 200px;
}

.whitebackground {
  // padding: 21px 76px;
  margin: 4px 4px;
  background-color: white;
  border-radius: 40px;
  text-align: center;
  font-family: $headers-font;
  padding: 15px 20px;
}

.whitebackground a {
  color: #BA55D3;
}

.whitebackground a:hover {
  color: #40A0E0;
  text-decoration: none;
}
