// party card
.party-card {
  margin-left: auto;
  margin-right: auto;
  width: 332px;
  height: 89px;
  overflow: hidden;
  display: flex;
  align-items: center;
  border-bottom: 1px solid grey;
}

.party-image {
  width: 88px;
  height: 88px;
  object-fit: cover;
}

.party-info {
  padding: 16px;
}

.party-text {
  font-size: 16px;
  margin: 0;
}

// track card
.track-card {
  margin-left: auto;
  margin-right: auto;
  width: 342px;
  height: 114px;
  overflow: hidden;
  display: flex;
  align-items: center;
  border-bottom: 1px solid grey;
}

.track-image {
  width: 103px;
  height: 102px;
  object-fit: cover;
}

.track-info {
  padding: 16px;
}

.track-title {
  font-size: 16px;
  margin: 0;
}

.track-artist {
  font-size: 16px;
  margin: 0;
  color: grey;
}
