// party card
.party-card {
  margin-left: auto;
  margin-right: auto;
  width: 342px;
  height: 114px;
  overflow: hidden;
  display: flex;
  align-items: center;
  border-bottom: 1px solid grey;
}

.party-card:hover .party-text {
  color: grey;
}

.party-image {
  width: 102px;
  height: 102px;
  object-fit: cover;
}

.party-info {
  padding-left: 25px;
}

.party-text {
  font-size: 25px;
  margin: 0;
  color: white;
}

.party-text:hover {
  text-decoration: none;
}

party-text:link {
color: #FFFFFF;
}
.party-text:visited {
color: #FFFFFF;
}

// track card
.track-card {
  margin-left: auto;
  margin-right: auto;
  width: 342px;
  height: 114px;
  overflow: hidden;
  display: flex;
  align-items: center;
  border-bottom: 1px solid grey;
}

.track-image {
  width: 102px;
  height: 102px;
  object-fit: cover;
}

.track-info {
  padding: 16px;
}

.track-title {
  font-size: 16px;
  margin: 0;
}

.track-artist {
  font-size: 16px;
  margin: 0;
  color: grey;
}
