.dropdown {
  margin-left: auto;
  margin-right: 15px;
  width: 45px;
  height: 31px;
  position: relative;
}

.dropdown-menu.show{
  background-color: #040404;
  width: 98px;
}
.dropdown-menu{
  background-color: none;
  max-width: 98px;
}

.dropdown-item{
  color: white !important;
  background-color: #040404;
  max-width: 98px;
  &:hover{
    background: linear-gradient(to right, #ffa500, #ff4883, #da53e0, #40a0e0, #da53e0) !important;
    color: transparent;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  // background-image: linear-gradient(to right, #ffa500, #ff4883, #da53e0, #40a0e0);
  }
}

.dropdown-toggle {
  color: grey;
  background-color: transparent;
}
#dropdownMenuButton {
  font-size: 2em;
  outline:0;
}
#dropdownMenuButton.dropdown-toggle {
  padding: 0px 0px 0px 0px;
  border: none;
}
#dropdownMenuButton.dropdown-toggle::after {
 display: none;
}

.twodots {
  display: flex;
  justify-content: center;
  padding-bottom: 60px;
}

.twodots i {
  margin: 10px;
}

#dot1 {
  color: white;
  opacity: 0.5;
}

#dot2 {
  color: white;
}

