.formfielt3 {
     background-color: rgba(255,255,255,0.0);
     top: 258px;
     height: 46px;
     width: 282px;
     position: absolute;
     margin: 0;
     left: 44px;
     transform: rotate(0);
}

.formfielt3 .rectangle {
     background-color: rgba(127,127,127,1.0);
     top: 0;
     height: 46px;
     width: 282px;
     position: relative;
     margin: 0;
     left: 0;
     border-radius: 23px;
     transform: rotate(0);
}

.email{
     background-color: rgba(255,255,255,0.0);
     top: 227px;
     height: auto;
     width: 193px;
     position: absolute;
     margin: 0;
     left: 44px;
     transform: rotate(0);
     font-family: 'LucidaGrande',Helvetica,Arial,serif;
     font-size: 18.0px;
     color: rgba(242,242,242,1.0);
     text-align: left;
     line-height: 21.0px;
}
