.logo {
    background-color: rgba(255,255,255,0.0);
    top: 253px;
    height: 215px;
    width: 248px;
    position: absolute;
    margin: 0;
    left: 36px;
    -ms-transform: rotate(0);
    -webkit-transform: rotate(0);
    transform: rotate(0);
}


