 .navbar1 {
  width: 100%;
  position: sticky !important;
  background: black;
  bottom: 0;
  z-index: 2;
  background-image: linear-gradient(to bottom, #0a0a0a, #000000);
  border-top: 0.1px solid white;
  height: 70px;
  padding: 0px;
  // // height: 100%;
  // // background-color: $container-gray;
  // // margin: 20px;
  // // max-height: 20px;
  // border-top: 1px solid white;
  // // margin-top: 20px;
  // overflow: hidden;
  // position: bottom;
  // width: 100%;
  // margin-bottom: 0 !important;
  // border-radius: 300px;background-image: linear-gradient(to bottom,
  // background-image: linear-gradient(to bottom, #232323, #161616, #0a0a0a, #000000);
}

.navbarbot {
  width: 100%;
  height: 100%;
}

.navbarbot tr {
  height: 60px;
}

.navbarbot td {
  text-align: center;
  height: 60px;
  width: 25%;
  // padding: 0px;
}

.navbarbot td:hover {
  background-color: white;
  border-color: 1px solid white;
}

.iconlink {
  margin-top: none;
  font-size: 15px;
  color: white;
}

.column a i {
  color: white;
  width: 50px;
}

td.column:hover {
  color: #1E1E1E;
  text-decoration: none;
  a {
    color: #1E1E1E;
    text-decoration: none;
  }
}



