 .navbar1 {
  width: 100%;
  position: sticky !important;
  background: black;
  bottom: 0;
  z-index: 100;
  background-image: linear-gradient(to bottom, #0a0a0a, #000000);
  border-top: 0.1px solid white;
  height: 70px;
  padding: 0px;
  // // height: 100%;
  // // background-color: $container-gray;
  // // margin: 20px;
  // // max-height: 20px;
  // border-top: 1px solid white;
  // // margin-top: 20px;
  // overflow: hidden;
  // position: bottom;
  // width: 100%;
  // margin-bottom: 0 !important;
  // border-radius: 300px;background-image: linear-gradient(to bottom,
  // background-image: linear-gradient(to bottom, #232323, #161616, #0a0a0a, #000000);
}

.column {
}

.navbarbot {
  width: 100%;
  height: 100%;
}

.navbarbot tr {
  height: 60px;
}

.navbarbot td {
  text-align: center;
  height: 60px;
  width: 25%;
}

.navbarbot td:hover {
  // background-color: white;
  // border-color: 1px solid white;
}

.column a i {
  color: white;
  width: 50px;
}



//Dashboard
td.column:hover #pie {
  color: #ffa500;
  text-decoration: none !important;
}

.column .iconlink {
  color: white;
  text-decoration: none;
  &:hover {
    text-decoration: none !important;
  }
}

td.column:hover .iconlink {
  color: #ffa500;
  margin-top: none;
  // font-size: 15px;
  text-decoration: none;
}

//Modify
td.column:hover #wizzard {
  color: #ff4883;
  text-decoration: none !important;
}

.column .iconlink1 {
  color: white;
  text-decoration: none;
  &:hover {
    text-decoration: none !important;
  }
}

td.column:hover .iconlink1 {
  color: #ff4883;
  margin-top: none;
  // font-size: 15px;
  text-decoration: none;
}

//Tracks
td.column:hover #tracks {
  color: #da53e0;
  text-decoration: none !important;
}

.column .iconlink2 {
  color: white;
  text-decoration: none;
  &:hover {
    text-decoration: none !important;
  }
}

td.column:hover .iconlink2 {
  color: #da53e0;
  margin-top: none;
  // font-size: 15px;
  text-decoration: none;
}

//Guests
td.column:hover #guests {
  color: #40a0e0;
  text-decoration: none !important;
}

.column .iconlink3 {
  color: white;
  text-decoration: none;
  &:hover {
    text-decoration: none !important;
  }
}

td.column:hover .iconlink3 {
  color: #40a0e0;
  margin-top: none;
  // font-size: 18px;
  text-decoration: none;
}

.active {
  a {
    i {
      color: #ffa500 !important;
    }
    div {
      color: #ffa500 !important;
    }
  }
}

.active1 {
  a {
    i {
      color: #ff4883 !important;
    }
    div {
      color: #ff4883 !important;
    }
  }
}

.active2 {
  a {
    i {
      color: #da53e0 !important;
    }
    div {
      color: #da53e0 !important;
    }
  }
}

.active3 {
  a {
    i {
      color: #40a0e0 !important;
    }
    div {
      color: #40a0e0 !important;
    }
  }
}


