.navbar {
  width: 100%;
  position: sticky !important;
  background: black;
  bottom: 0;
  // // height: 100%;
  // // background-color: $container-gray;
  // // margin: 20px;
  // // max-height: 20px;
  // border-top: 1px solid white;
  // // margin-top: 20px;
  // overflow: hidden;
  // position: bottom;
  // width: 100%;
  // margin-bottom: 0 !important;
  // border-radius: 300px;
}

.navbarbot {
  width: 100%;
  // height: 100%;
  // background-color: $container-gray;
  // margin: 20px;
  // max-height: 20px;
  border-top: 1px solid white;
  // margin-top: 20px;
  // overflow: hidden;
  // position: absolute;
  // width: 100%;
  // margin-bottom: 0 !important;
  // border-radius: 300px;
}

.navbarbot tr {
  height: 60px;
}

.navbarbot td {
  text-align: center;
  height: 60px;
  width: 25%;
  padding: 0px;
}

.navbarbot td:hover {
  background-color: black;
  border-color: 1px solid white;
}

.iconlink {
  margin-top: none;
  font-size: 15px;
  color: white;
}

.column a i {
  color: white;
  width: 50px;
}

.column:hover a i {
  color: #1E1E1E;
}

.column:hover a .iconlink {
  color: #1E1E1E;
  text-decoration: none;
}



