

.writing {
  width: 332px;
  height: 113px;
  font-family: $headers-font;
  font-size: 28px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 1.23px;
  text-align: center;
  color: #ffffff;
  margin-left: auto;
  margin-right: auto;
  padding-top: 81px;
  padding-bottom: 120px;
}

.header {
  width: 100vw;
  height: auto;
  font-family: $headers-font;
  font-size: 32px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 2.23px;
  text-align: center;
  color: #ffffff;
  margin-left: auto;
  margin-right: auto;
  padding-top: 60px;
  padding-bottom: 60px;
}

.bottom-space {
  padding-bottom: 30px;
}
#top-space{
  padding-top: 30px;
}

.sub-header {
  width: 100vw;
  height: auto;
  font-family: $headers-font;
  font-size: 32px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 0.61px;
  text-align: center;
  color: #ffffff;
  margin-left: auto;
  margin-right: auto;
}

.paragraph {
  width: 100vw;
  height: auto;
  font-family: $headers-font;
  font-size: 16px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 1.23px;
  text-align: center;
  color: #ffffff;
  margin-left: auto;
  margin-right: auto;
}
