

.writing {
  width: 332px;
  height: 113px;
  font-family: $headers-font;
  font-size: 28px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 1.23px;
  text-align: center;
  color: #ffffff;
  margin-left: auto;
  margin-right: auto;
  padding-top: 81px;
  padding-bottom: 120px;
}

.normalheader {
  width: 100vw;
  height: auto;
  font-family: $headers-font;
  font-size: 32px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 2.23px;
  text-align: center;
  color: #ffffff;
  margin-left: auto;
  margin-right: auto;
  padding-top: 60px;
  padding-bottom: 40px;
}

.header {
  width: 100vw;
  height: auto;
  font-family: $headers-font;
  font-size: 32px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 2.23px;
  text-align: center;
  color: #ffffff;
  margin-left: auto;
  margin-right: auto;
  padding-top: 60px;
  padding-bottom: 60px;
}


.sub-header {
  width: 100vw;
  height: auto;
  font-family: $headers-font;
  font-size: 32px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 0.61px;
  text-align: center;
  color: #ffffff;
  margin-left: auto;
  margin-right: auto;
  padding-top: 25px;
  padding-bottom: 0px;
}

.sub-header1 {
  width: 100vw;
  height: auto;
  font-family: $headers-font;
  font-size: 32px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 0.61px;
  text-align: center;
  color: #ffffff;
  margin-left: auto;
  margin-right: auto;
  padding-top: 75px;
  padding-bottom: 30px;
  margin-top: 40px;
  margin-bottom: 25px;
}
.sub-header2 {
  width: 100vw;
  height: auto;
  font-family: $headers-font;
  font-size: 32px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 0.61px;
  text-align: center;
  color: #ffffff;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  margin-bottom: 15px;
}
.paragraph {
  width: 100vw;
  height: auto;
  font-family: $headers-font;
  font-size: 16px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 1.23px;
  text-align: center;
  color: #ffffff;
  margin-left: auto;
  margin-right: auto;
  padding-top: 20px;
  padding-bottom: 40px;
}

.username {
  width: 100vw;
  height: auto;
  font-family: $headers-font;
  font-size: 32px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 2.23px;
  text-align: center;
  color: #ffffff;
  margin-left: auto;
  margin-right: auto;
  padding-top: 30px;
  padding-bottom: 30px;
}
#extrabs {
  margin-bottom: 25px;
}
